<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387778797712-uue8mf84nfc789u4ol9tvqlg92rsd4rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387778797712-uue8mf84nfc789u4ol9tvqlg92rsd4rg</string>
	<key>API_KEY</key>
	<string>AIzaSyAyu1_Zq0PlA7hpNydEAuL09kGQ2Ff1cfo</string>
	<key>GCM_SENDER_ID</key>
	<string>387778797712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWeb</string>
	<key>PROJECT_ID</key>
	<string>flutter-web-a67cd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-web-a67cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387778797712:ios:4ff2acff465d2e7426f815</string>
</dict>
</plist>